body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

#json-data {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: pre-wrap;
  text-align: left;
}
